@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#b0573c;">
    <div class="text-center">
        <h1 class="display-4", style="color: black">TwitterCallback</h1>
        <p>UserName: @ViewData["username"]</p>
        <p>Id: @ViewData["id"]</p>
        <p>Name: @ViewData["name"]</p>

     </div> 
</body>
